{deps, [
    {ecpool, {git, "https://github.com/emqx/ecpool", {tag, "0.5.2"}}},
    {amqp_client, {git, "https://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.6.2"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
    {emqx, {git, "https://github.com/emqx/emqx.git", {tag, "v4.4.8"}}}
]}.

{erl_opts, [debug_info]}.
